doctype 5
html
  head
    title KobK: The RPG
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/jquery.toastmessage-min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(src='/js/jwerty.js')
    script(src='/js/jquery.toastmessage-min.js')
    script(src='socket.io/socket.io.js')
  body
    .container
      h1 Kill or be Killed: The RPG
      .world.clearfix
      script(src='/js/otz.js')
