/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; } 

/* OTZ Styles */
body {
  font-family: Impact, fantasy;
  background:#210101;
  color:#fff;
}

.container {
  margin:10px auto;
  width:1160px;
  padding:10px;
}
.right{
  float: right;
  width: 420px;
  position: relative;
  right: 65px;
}
.right li{
  margin-bottom: 10px;
  font-size: 1.80em;
  color: #CC9514;
  font-family: 'Russo One', sans-serif;
  height:40px;
  width: 220px;
}
.right p{
  float: left;
}
.right img{
	float:right;
	position:relative;
}
h1, h2{
	color: #9C0909;
	font-family: 'Nosifer', cursive;
}

h1 {
  font-size:2.10em;
}
h2 {
  font-size:1.90em;
  padding-bottom: 5px;
}

.world {
  position:relative;
  padding:10px;
  background:#300000;
}

.world .player {
  background:white;
  position:absolute;
  width:16px;
  height:16px;
  padding:2px;
  background:url('../img/endown.png') no-repeat center center;
}
  .world .you {
    background:url('../img/youdown.png') no-repeat center center;
  }
  
  
.world .mob {
  background:white;
  position:absolute;
  width:16px;
  height:16px;
  padding:2px;
  background:url('../img/you2.png') no-repeat center center;
}
.world .item{
  background:url('../img/potion.png') no-repeat center center;
}



.world .bullet {
  background:url('../img/bullet.png');
  position:absolute;
  width:8px;
  height:16px;
  margin:8px;
}

.world .cell {
  position:relative;
  width:20px;
  height:20px;
  float:left;
}
  .cell.grass {
    background:url('../img/texture-grass.png');
  }
  .cell.rock {
    background:url('../img/texture-rock.png');
  }
.world .row {
  clear:both;
}
